<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AECOM IT Device Manager Tools</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="/static/jquery-3.3.1.js"></script>

    <script type="text/javascript"></script>

</head>



<body>

<div class="container">
    {%  include "headbase.html" %}
    <a href="#"   class="list-group-item active" >
  当前模块：用户管理->新建用户
    </a>
  <div  class="row">
    <div class="col-sm-12">
<p>

    <form action="useredit" method="POST" novalidate="novalidate">
        {% csrf_token %}
        {{ obj.as_p }}

        <input type="submit" value="提交">
    </form>
       {{ status  }}

        </p>




    </div>
  </div>
</body>




</html>